<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Consent</title>
  </head>
  <body>
    <br>
    <div class="container text-center">


        <div class="display-1">
            <h1> Consent Form </h1><hr>
        </div>

        <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Study Purpose and Rationale
                </button>
            </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                The purpose of this research project is to examine how one perceives and thinks about social groups. The results from this research may help psychologists better understand how these aspects of human behavior function.
            </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Inclusion/Exclusion Criteria
                </button>
            </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                To be eligible to participate in this study, you must be at least 18 years of age. 
            </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Participation Procedures and Duration
                </button>
            </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                For this project, you will be asked to look at human faces and make judgments about their age. It will take approximately 45 minutes to complete this experiment. You will receive 1-hour credit toward your CPSY course requirement for participating.
            </div>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Data Confidentiality or Anonymity
                </button>
            </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                All data will be as anonymous and no identifying information will be collected. 
            </div>
            </div>
        </div>
        

         <div class="card">
            <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Storage of Data
                </button>
            </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                Your responses will be collected on a paper-and-pencil questionnaire and will be entered into a database. The paper and pencil responses will be stored in a locked cabinet. The data will be stored on the researcher’s password-protected computer. This data will be held for five years. Only members of the research team will have access to the data.
            </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingSix">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Risks or Discomforts
                </button>
            </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
            <div class="card-body">
                There are no anticipated risks associated with participating in this study. However, you may choose not to answer any question or do any task that makes you uncomfortable and you may leave the study at any time. You may also skip any face and continue onto the next one by letting the experimenter know.
            </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingSeven">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Voluntary Participation
                </button>
            </h5>
            </div>
            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
            <div class="card-body">
                Your participation in this study is completely voluntary and you are free to withdraw your permission at any time for any reason without penalty or prejudice from the investigator.
            </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingEight">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    IRB Contact Information
                </button>
            </h5>
            </div>
            <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
            <div class="card-body">
                For one’s rights as a research subject, you may contact the following: Office of Research Integrity, Ball State University, Muncie, IN 47306, (765) 285-5070, irb@bsu.edu.
            </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingNine">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    Researcher Contact Information 
                </button>
            </h5>
            </div>
            <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
            <div class="card-body">
                Principal Investigator:

Mary Kite, Ph.D.

Department of Counseling Psychology, Social Psychology, and Counseling

Ball State University

Muncie, IN 47306

Telephone: 765-285-8197

mkite@bsu.edu 
            </div>
            </div>
        </div>

        <br><hr>
        <form class="form-check" method='POST' action='instruction'>
        {% csrf_token %}
            <input class="form-check-input" type="radio" value="true" id="consent-positive" name="consent" required>
            <label class="form-check-label" for="consent-positive">
                I have read and understood the consent form. I wish to participate in the study.
            </label><br>

            <input class="form-check-input" type="radio" value="false" id="consent-negative" name="consent">
            <label class="form-check-label" for="consent-negative">
                I do not with to participate in the study.
            </label><br><br>
            <input type="submit" value="Submit" name="submit" class="form-control mx-auto btn btn-primary btn-block" onclick="return fnCheckRadio();" />
            
        </form>
        <script type="text/javascript">
            function fnCheckRadio()
            {   
                 var radYes=document.getElementById("consent-positive"); 
                 if(radYes.checked)
                 {              
                    return true;
                 }
                 else
                 {
                    alert("Please agree to the Terms and conditions to participate.");
                    return false;
                 }
               return false;
            }
            
            </script>
            
            
           
        
        
    </div>
    <br>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>